@font-face {
    font-family: 'Minecraft'; /* Đặt một cái tên bất kỳ cho font của bạn */
    src: url('Minecraft.ttf'); /* Đường dẫn đến tệp font */
}


.text-label {
    -fx-font-family: "Minecraft"; /* Font chữ */
    -fx-text-fill: #FFFFFF;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.8), 5, 0.0, 0, 1);
}

.score-label {
    -fx-font-family: "Minecraft"; /* Font chữ */
    -fx-text-fill: #000000;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.8), 5, 0.0, 0, 1);
}

.label-container {
    /* Tạo màu nền cho khối */
    -fx-background-color: rgba(0, 0, 0, 0.5); /* Màu đen mờ 50% */

    /* Bo tròn các góc để trông mềm mại hơn */
    -fx-background-radius: 10px; /* Bán kính bo góc là 10px */

    /* Tạo đường viền */
    -fx-border-color: #FFFFFF; /* Đường viền màu trắng */
    -fx-border-width: 2px; /* Độ dày đường viền là 2px */
    -fx-border-radius: 10px; /* Bo tròn góc của đường viền */

    /* Tạo khoảng đệm để chữ không bị dính sát vào viền */
    -fx-padding: 10px 20px 10px 20px; /* Trên Phải Dưới Trái */
}

.game-button:hover {
    -fx-cursor: hand;
    /* Tạo một vầng sáng trắng mờ xung quanh nút */
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.7), 15, 0.0, 0, 0);
}

.coin-label {
    -fx-font-family: "Minecraft"; /* Font chữ */
    -fx-text-fill: #ffd700;
}

.coin-label-container {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.8), 5, 0.0, 2, 3);
    -fx-background-image: url("../images/sign.png"); /* Đường dẫn tương đối đến file ảnh */
    -fx-background-repeat: no-repeat; /* Không lặp lại ảnh */
    -fx-background-size: contain; /* Điều chỉnh kích thước ảnh cho vừa Label */
    -fx-background-position: center; /* Đặt ảnh vào giữa Label */
    -fx-padding: 10px 10px 10px 40px;
}